body {
    font-family: 'Avenir Next'
}

.bar {
  fill: blue;
}

.bar:hover {
  fill: purple;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

/* Background images */
.home-top {
    background-image: url("../images/hongkong_skyline.668ea39724a2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-top {
    background: white url("../images/chicago_lake.297e53233374.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
  background-color: white;
}

.jumbotron-clear {
  background-color: transparent;
  color: white;
  height: 300px;
}

.navbar-clear .navbar-brand {
    color: white;
}
.navbar-clear {
    font-size: 14px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 4px;
}
.navbar-clear .navbar-nav>li>a {
    color: white;
    background-color: transparent;
}
.navbar-clear .navbar-nav>li>a:hover,
.navbar-clear .navbar-nav>li>a:focus {
    color: #dddddd;
    background-color: transparent;
}
.navbar-clear .navbar-nav>.active>a,
.navbar-clear .navbar-nav>.active>a:hover,
.navbar-clear .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
}
.navbar-clear .navbar-toggle {
    border-color: #ffffff;
}
.navbar-clear .navbar-toggle:hover,
.navbar-clear .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-clear .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-clear .navbar-toggle:hover .icon-bar,
.navbar-clear .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}